<div class="top-bar tealback add_padding">

  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li style="font-size:1.5rem" class="menu-text white-font tealback">Launch Academy 2</li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li class="tealback"><a class="white-font" href="#">Learn on Campus</a></li>
      <li class="tealback"><a class="white-font" href="#">Learn Online</a></li>
      <li class="tealback"><button type="button" class="button pinkback">Apply</button></li>
    </ul>
  </div>

</div>

<div class="back-img-size">
  <img src="images/background-1.jpg"/>
</div>

<div id="lap-back">
  <div class="text-center" id="laptop">
    <img src="images/laptop.png"/>
  </div>
</div>

<div class="back-img-size">
  <img src="images/background-2.jpg"/>
</div>

<div class="back-space hire-part">

    <div class="partners">

      <div class="small-3 columns">
        <div class="each-partner text-center callout">
          <img src="images/hubspot.png"/>
          <p id="partners_font_color">BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="each-partner text-center callout">
          <img src="images/fidelity.png"/>
          <p id="partners_font_color">BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="each-partner text-center callout">
          <img src="images/npr.png"/>
          <p id="partners_font_color">BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="each-partner text-center callout">
          <img src="images/datto.png"/>
          <p id="partners_font_color">BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah BLAH blah</p>
        </div>
      </div>

    </div>

</div>

<div class="back-space cont-us">

</div>
